$root-font-size: 18px !default;
$content-width: 900px !default;
$link-color: #1565c0 !default;
$sidebar-color: #fff !default;
$nav-width: 364px !default;
$nav-width-md: 348px !default;
$content-width: 900px !default;
